# dependencies
node_modules/
.pnpm-store/

# build output
/dist/
dist-ssr/
src-tauri/target/

# makepkg build artifacts
pkg/*.pkg.tar.zst
pkg/pkg/
pkg/src/

# local env / runtime files
*.local
.env
.env.*

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
